html {
    box-sizing: border-box;
  }
  *,*::before,*::after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
  }
  #wave
{
    /* background: white; */
    height: 200px;
  }

 #bg {
    /* position: relative; */
    /* background: linear-gradient(-90deg, #7666e7, #3f93fb, #8b46fc); */
    color: #FFF;
    height: 200px;
    overflow: hidden;
  }
  
  @keyframes animateWave {
    0% {
      transform: translate3d(0, -200px, 0);
    }
   100% {
      transform: translate3d(1, 25px, 0);
    }
  }
  #bg > svg {
    transform-origin: bottom;
    animation: animateWave 2s cubic-bezier(0.23, 1, 0.32, 1) ;
  }



#header{
  justify-content: space-between;
  position: absolute;
  top: 0.5vh;

  display: flex;
  align-items: center;
  object-fit: cover;
  text-decoration: none;
  align-content:flex-start;
width:100%;
    

  
  
}


#indellogo {
margin-left: 15vw;
  width: 6vw;
  height: 3vh;
  
}

#name_content{

font: 400 2vw system-ui;
letter-spacing: 0.5vw;
margin: 2vw;




}