@media only screen and (min-width: 992px){


.image {
    
    display: none;
}

}



.image img {
    top: 0;
z-index: 1000;
    padding: 0;
    width:70%;
    height :70%;
    justify-content: center;
    align-self: center;
}