#logicpage {

    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}

#logicpage h1{

    font-size: 100px;
    font-weight: bold;
}

#logicpage p {
    font-size: 35px;
}

