
@media only screen and (min-width: 992px){

#storyoptionpage {
   
    justify-content: center;
    align-content: center;
    display: flex;
    margin-bottom: 10vh;
    position: relative;
    flex-direction: row;
   
}

#storyone {
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0 15vw 5vh 10vw; 
    padding: 5vw;
    width: 30%;
    height: 10%;
    border: white 10px ;
 background: linear-gradient(-90deg, #7666e7, #3f93fb, #8b46fc);
 border-radius: 5em;
  font:2vw system-ui;
    letter-spacing: 0.5vw;
    cursor: pointer;
    color: white;
display:none;
   
}

#storytwo {
    justify-content: center;
    align-content: center;
    text-align: center;

    margin: 0 10vw 5vh 15vw;
    padding: 5vw;
    width: 30%;
    height: 10%;
    border: white 10px ;
 background: linear-gradient(-90deg, #7666e7, #3f93fb, #8b46fc);
 border-radius: 5em;
  font:2vw system-ui;
    letter-spacing: 0.5vw;
    cursor: pointer;
    color: white;
display:none;
   
}
#storyone:hover {

        background-color: white;
        background: none;
        border: #7666e7 solid 10px;
        color: #7666e7;
}

#storytwo:hover {

    background-color: white;
    background: none;
    border: #7666e7 solid 10px;
    color: #7666e7;
}

}